.main-content {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: whitesmoke;
}

.recommandation {
  display: flex;
  flex-direction: column;
  background-color: burlywood;
  width: 20%;
  height: 95%;
}

.region-select {
  background-color: violet;
  text-align: center;
  border: none;
  height: 8vh;
}

.recommandation__categories {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.recommandation__categories div {
  text-align: center;
  width: 100%;
  height: 8vh;
  line-height: 8vh;
  background-color: rgb(174, 174, 255);
}

.recommandation__categories div:hover {
  background-color: white;
}

.recommandation__categories div:target {
  background-color: red;
}

.recommandation__list {
  display: flex;
  flex-direction: column;
  padding: 0 5px;
  gap: 10px;
  overflow: scroll;
  max-height: 70vh;
}

.recommandation__list::-webkit-scrollbar {
  display: none;
}

.recommandation__list li {
  display: flex;
  background-color: yellowgreen;
  gap: 3px;
}

.recommandation__list li img {
  width: 40%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.recommandation__list li div {
  width: 100%;
  padding: 10px 20px;
}

.search-list {
  display: flex;
  flex-direction: column;
  background-color: coral;
  width: 20%;
  height: 95%;
}

#search-form {
  display: flex;
  flex-direction: row;
}

#search-form input {
  padding: 20px 10px;
  width: 70%;
  border: none;
  border-radius: 0;
}

.search-btn {
  width: 30% !important;
  margin-left: 0;
}

.search-list ul {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  max-height: 77vh;
  gap: 10px;
  margin: 10px 0;
  padding: 10px 5px;
  background-color: turquoise;
}

.search-list ul::-webkit-scrollbar {
  display: none;
}

.search-list ul li {
  padding: 10px 5px;
  background-color: whitesmoke;
}

.more-btn {
  float: right;
  background-color: yellow !important;
  border: none;
  margin-top: 5px;
}

#map {
  background-color: brown;
  width: 40%;
  height: 65%;
}
